AWS_REGION=eu-central-1
GLUE_JOB_RAW_TO_CURATED=raw-to-curated
GLUE_JOB_CURATED_TO_ABANDONED=curated-to-abandoned-carts
GLUE_CRAWLER_CURATED=curated-events-crawler
GLUE_CRAWLER_ANALYTICS=abandoned-carts-crawler
